<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Night Flight 2ND -対話-</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="index.css">
</head>

<body>

<div id="container">



<!--▼▼▼▼▼ここから「ヘッダー」-->
<header>

<h1 id="logo"><a href="index.html"><img src="007.gif"></a></h1>

				<ul id="header-box">
					<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSflIyQFAiKTh1naIQrB1IzLl6MC3ExWn_Kr96LxniVAnUNSYQ/viewform">アンケートはこちら</a></li>
</ul>

</header>
<!--▲▲▲▲▲ここまで「ヘッダー」-->



<!--▼▼▼▼▼ここから「メイン画像」-->
<div id="mainimg-box">
				
				<div><a href="#"><img src="DM案002表.jpg" alt=""></a></div>


<!--▲▲▲▲▲ここまで「メイン画像」-->

<!--▼▼▼▼▼ここから「トップステメ」-->
<section>

<!--コメント-->
<div class="container">
  <p class="big">Welcome</p>
</div>


<p class="message">ご高覧いただきありがとうございます。<br>
text<br>
text<br>
text<br>
text</p>

<p class="c btn5-container mt"><a href="https://docs.google.com/forms/d/e/1FAIpQLSflIyQFAiKTh1naIQrB1IzLl6MC3ExWn_Kr96LxniVAnUNSYQ/viewform" class="btn5 border-radius">アンケートはこちら</a></p>

</section>
<!--▲▲▲▲▲ここまで「トップステメ」-->



<!--▼▼▼▼▼ここから「展示作品」-->
<section>

	
<div class="container">
  <p class="big">「 展示作品 」</p>
</div>



<div class="list-grid">

<div class="list">
<figure><a href="#"><img src="akimoto.jpg" alt=""></a></figure>
<div class="text">
<h4>秋元 楓</h4>
<p></p>
</div>
							</div>


<div class="list">
<figure><a href="#"><img src="usami.jpg" alt=""></a></figure>
<div class="text">
<h4>宇佐美 雄大</h4>
<p></p>
</div>
</div>


<div class="list">
<figure><a href="#"><img src="ootake.jpg" alt=""></a></figure>
<div class="text">
<h4>大竹 航太郎</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="ogasawara.jpg" alt=""></a></figure>
<div class="text">
<h4>小笠原 宏治</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="kurata.jpg" alt=""></a></figure>
<div class="text">
<h4>倉田 良太</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="kei.jpg" alt=""></a></figure>
<div class="text">
<h4>荊 子軒</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="kojima.jpg" alt=""></a></figure>
<div class="text">
<h4>小島 雅貴</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="shimada.jpg" alt=""></a></figure>
<div class="text">
<h4>島田 真麻</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="shimizu.jpg" alt=""></a></figure>
<div class="text">
<h4>清水 剛</h4>
<p></p>
</div>
							</div>

<div class="list">
<figure><a href="#"><img src="suzuki.jpg" alt=""></a></figure>
<div class="text">
<h4>鈴木 渚</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="taga.jpg" alt=""></a></figure>
<div class="text">
<h4>多賀 和輝</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="tanahashi.jpg" alt=""></a></figure>
<div class="text">
<h4>棚橋 陽大</h4>
<p></p>
</div>
</div>

<div class="list">
<figure><a href="#"><img src="tomita.jpg" alt=""></a></figure>
<div class="text">
<h4>富田 顕</h4>
<p></p>
</div>
</div>
								
<div class="list">
<figure><a href="#"><img src="doi.jpg" alt=""></a></figure>
<div class="text">
<h4>土井 薫平</h4>
<p></p>
</div>
</div>
								
<div class="list">
<figure><a href="#"><img src="nakahara.jpg" alt=""></a></figure>
<div class="text">
<h4>中原 佑都</h4>
<p></p>
</div>
</div>
								
<div class="list">
<figure><a href="#"><img src="miyauchi.jpg" alt=""></a></figure>
<div class="text">
<h4>宮内 啓太</h4>
<p></p>
</div>
</div>
								
<div class="list">
<figure><a href="#"><img src="yamashiki.jpg" alt=""></a></figure>
<div class="text">
<h4>山舗 俊隆</h4>
<p></p>
</div>
</div>

</div>
<!--/.list-grid-->

</section>
<!--▲▲▲▲▲ここまで「展示作品」-->
						
<!--▼▼▼▼▼ここから「作品販売、アンケート」-->
<section class="list-c2 margin-lr0">

<a href="#">
<div class="list image1">
<div class="text">
<h4><span class="sub-text">作品販売</span><span class="main-text">Contact</span></h4>
							<p>作品販売も行っております。</p>
							<p>詳しくは会場内作家にお尋ねください。</p>
</div>
</div>
</a>

				<a href="https://docs.google.com/forms/d/e/1FAIpQLSflIyQFAiKTh1naIQrB1IzLl6MC3ExWn_Kr96LxniVAnUNSYQ/viewform">
<div class="list image2">
<div class="text">
							<h4><span class="sub-text">アンケート</span><span class="main-text">Questionnaire</span></h4>
							<p>作家のこれからの励みになりますので</p>
							<p>アンケートも是非ご回答ください。</p>
							
</div>
</div>
</a>

</section>
<!--▲▲▲▲▲ここまで「作品販売、アンケート」-->

						
<!--▼▼▼▼▼ここから「フッター」-->
<footer class="margin-lr0">

<div class="footer1">

<p class="logo">PICTORICO  SHOP & GALLERY<br>

									〒130-0015 東京都墨田区横網 1-2-16<br>
									両国ガイビル 國技館前 5F<br>
									TEL：03-6658-5823<br>
TIME:11:00-18:00(最終日は17:00)<br>
									会期中全日開場</p>

<ul class="sns1">
<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-line"></i></a></li>
<li><a href="#"><i class="fab fa-youtube"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>


<small>Copyright© NightFlight All Rights Reserved.</small>

</div>





<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>



<!--開閉メニュー-->
<div id="menubar">


</div>



<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>



<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>


</script>

</body>
</html>
